{% extends 'base.html.twig' %}

{% block title %}Accounts{% endblock %}

{% block body %}
    <h1>Accounts</h1>

    <ul id="accounts">
        {% for account in accounts %}
            <li><a href="{{ path('account_view', {id: account.id}) }}">{{ account.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
