{% extends 'base.html.twig' %}

{% block title %}{% if account is defined %}Edit {{ account.name }}{% else %}Add Account{% endif %}{% endblock %}

{% block body %}
    <h1>{% if account is defined %}Edit {{ account.name }}{% else %}Add Account{% endif %}</h1>

    {{ form(form) }}

    {% if account is defined %}
    {{ form(deleteForm) }}
    {% endif %}
{% endblock %}
